# Byte-compiled / optimized / DLL files
.env
*.temp

# frontend/.env.development
docs/site/
*temp/*
.secret
frontend/dist/
frontend/.output/*
frontend/.yarn/*
frontend/.yarnrc.yml
frontend-react/dist/
frontend-react/node_modules/
frontend-react/coverage/
frontend-react/.yarn/*

dev/data/mealie.db-journal
dev/data/backups/*
dev/data/debug/*
dev/data/img/*
dev/data/migration/*
dev/data/templates/*
dev/data/users/*
dev/data/groups/*

.DS_Store
node_modules


# local env files
.env.local
.env.*.local


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Distribution / packaging
/dist/

# C# build artifacts
**/bin/
**/obj/
*.user

# frontend copied into Python module for packaging purposes
/mealie/frontend

.mypy_cache/

# Node Modules
node_modules/
coverage/
*.db
*.sqlite

dev/data/backups/dev_sample_data*.zip
!dev/data/backups/test*.zip
dev/data/recipes/*

lcov.info

.run/
.task/*
.dev.env
frontend/eslint.config.deprecated.js
